<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Our Favorite Subjects</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>

  <body>
    <header class="header">
      <div class="brand">
        <img src="/static/images/logo.svg" alt="logo" class="logo" />
        <div>
          <h1>Faisal's Portfolio</h1>
          <div class="subtitle">Grade 10 • Web Design</div>
        </div>
      </div>

      <nav class="navlinks">
        <a href="/templates/index.html">Home</a>
        <a href="/templates/subjects/webdesign.html">Web Design</a>
        <a href="/templates/subjects/robotics.html">Robotics</a>
        <a href="/templates/subjects/math.html">Math</a>
        <a href="/templates/subjects/chemistry.html">Chemistry</a>
        <a href="#" id="open-survey">Survey</a>
      </nav>
    </header>



    <!--CONTENT-->
    <main>
      <h1 class="main-menu-text">Web Design Midterm Project</h1>
      <h3 class="main-menu-text">Choose a subject above to continue</h3>
    </main>
  </body>
</html>