{% extends "base.html" %}

{% block title %}Home - Faisal's Portfolio{% endblock %}

{% block content %}
<h1 class="main-menu-text">Web Design Midterm Project</h1>
<h3 class="main-menu-text">Choose a subject above to continue</h3>

<hr><br>

<h1 class="main-info-title">Information about our website..</h1>
<p class="main-info-text">
    Our website is an interactive hub for people to explore our preferred subjects in grade 10, allowing them to learn concepts through: 
</p>

<br>

<div class="main-list">
    <ul>
        <li><strong>Our survey</strong></li>
        <li><strong>Easter eggs</strong></li> 
        <li><strong>Interactive 3D models</strong></li>
    </ul>
</div>

<br><hr><br>

<h1 class="main-info-title">Why a survey?</h1>

<p>
    Our survey can help us understand your interests, depth of knowledge, and understandings in each subject, as well as your reviews on the website. This let us know about your current state more, which can assist us in enhancing your knowledge and even our website in the future.
</p>

<br>

<img src="/static/images/survey.png" alt="survey" class="survey-img clickable-image" id="img1">

<br><hr><br>

<h1 class="main-info-title">Why are interactive models in the website?</h1>

<p>
    We implemented interactive 3D models to give bigger pictures and details about specific subjects, as well as making them downloadable for people to use in the future. This can help deepen the overall understandings of the subject.
</p>
{% endblock %}
