<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Our Favorite Subjects</title>
        <link rel="stylesheet" href="/static/style.css" />
    </head>

    <body>
        <header class="header">
            <div class="brand">
                <img src="/static/images/logo.svg" alt="logo" class="logo" />
                <div>
                    <h1>Web Design Portfolio</h1>
                    <div class="subtitle">Grade 10 • Web Design</div>
                </div>
            </div>

            <nav class="navlinks">
                <a href="/templates/index.html">Home</a>
                <a href="/templates/subjects/webdesign.html">Web Design</a>
                <a href="/templates/subjects/robotics.html">Robotics</a>
                <a href="/templates/subjects/math.html">Math</a>
                <a href="/templates/subjects/chemistry.html">Chemistry</a>
                <a href="#" id="open-survey">Survey</a>
            </nav>
        </header>

        <main>
            <h1 class="main-menu-text">Web Design Midterm Project</h1>
            <h3 class="main-menu-text">Choose a subject above to continue</h3>

            <hr><br>

            <h1 class="main-info-title">Information about our website..</h1>
            <p class="main-info-text">
                Our website is an interactive hub for people to explore our preferred subjects in grade 10, allowing them to learn concepts through: 
            </p>

            <br>

            <ul>
                <li><strong>Our AI chatbot</strong></li>
                <li><strong>Easter eggs</strong></li> 
                <li><strong>Interactive 3D models</strong></li>
            </ul>

            <br><hr><br>

            <h1 class="main-info-title">Who is our AI chatbot??</h1>
            <p>
                Introducing...
            </p><br>

            <h2><strong>Knowli™!</strong></h2><br>

            <img src="/static/images/knowli.png" alt="knowli"><br>
            <p>
                Knowli™ AI is our chatbot that you can have a conversation with about the contents of our website! You can ask him questions and he will be able to respond with the answer you require. He can even give you hints for the easter eggs we have planted in this website! He can be your guide and encyclopedia for this website.
            </p>
        </main>
    </body>
</html>
