{% extends "base.html" %}

{% block title %}Home - Faisal's Portfolio{% endblock %}

{% block content %}
<strong><h2>Fill out the Google Form</h2></strong>
    <!-- google form iframe (iframe charger sold seperately) -->
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLScN7-0x6KZiIqOoGzAqL_5Sfat8F0q95D4j7WobrzOGl_Cm1w/viewform?usp=dialog"
        width="676.7" height="755" frameborder="0" marginheight="0" marginwidth="0">
            
    Loading…
</iframe><br><br>

<h2>If you want to ask us additional questions or give feedback, contact us through our e-mail.</h2>

<br>

<p><strong>support@webdesproj.com</strong></p>
{% endblock %}